{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block object-tools-items %}
    <li><a href="/planificacion/intervalo/finalizar/{{object_id}}/" class="historylink">{% trans "Finalizar" %}</a></li>
    <li><a href="/planificacion/intervalo/cancelar/{{object_id}}/" class="historylink">{% trans "Cancelar" %}</a></li>
    <li><a href="/planificacion/calendario/cronograma/{{object_id}}/" class="historylink" target='_blank'>{% trans "Ver en calendario" %}</a></li>
    <li><a href="history/" class="historylink">{% trans "Historial" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "Ver no site" %}</a></li>{% endif%}
{% endblock %}

