<!DOCTYPE HTML>
<html>
  <head><meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<!--Ext and ux styles -->
    <link href="http://cdn.sencha.com/ext/gpl/4.2.1/resources/css/ext-all.css" rel="stylesheet" type="text/css" />

	<!--Scheduler styles-->
    <link href="/static/Bryntum-2.x-45d-trial/scheduler-2.2.25-trial/resources/css/sch-all.css" rel="stylesheet" type="text/css" />
    
	<!--Implementation specific styles-->
    <link href="http://www.bryntum.com/examples/scheduler-latest/examples/css/examples.css" rel="stylesheet" type="text/css" />
      
	<!--Ext lib and UX components-->
    <script src="http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js" type="text/javascript"></script>
	
    <!--Scheduler files-->
    <script src="/static/Bryntum-2.x-45d-trial/scheduler-2.2.25-trial/sch-all-debug.js" type="text/javascript"></script>

	<!--Application files-->
  <script src="http://www.bryntum.com/examples/scheduler-latest/examples/examples-shared.js" type="text/javascript"></script>
	
  <script type="text/javascript">
  
Ext.ns('App');

//Ext.Loader.setConfig({ enabled : true, disableCaching : true });
//Ext.Loader.setPath('Sch', '../../js/Sch');

//Ext.require([
//    'Sch.panel.SchedulerGrid',
//    'Sch.plugin.Pan'
//]);
Ext.onReady(function () {
    App.Scheduler.init();
});

App.Scheduler = {

    // Bootstrap function
    init : function () {
        this.grid = this.createGrid();

        this.grid.render('example-container');
    },

    createGrid : function () {
        Ext.define('Resource', {
            extend     : 'Sch.model.Resource',
            idProperty : 'Id',
            fields     : [
                {name : 'Id'},
                {name : 'Name'},
                {name : 'Type'}
            ]
        });

        Ext.define('Event', {
            extend : 'Sch.model.Event',
            fields : [
                {name : 'ResourceId'},
                {name : 'StartDate', type : 'date', dateFormat : 'Y-m-d G:i'},
                {name : 'EndDate', type : 'date', dateFormat : 'Y-m-d G:i'}
            ]
        });

        // Store holding all the resources
        var resourceStore = new Sch.data.ResourceStore({
            idProperty : 'Id',
            model      : 'Resource'
        });

        resourceStore.loadData([
            {% for maquina in maquinas %}
            {
                Id   : '{{maquina.id}}',
                Name : '{{maquina.descripcion}}',
                Type : 'Recurso'
            },
            {% endfor %}

        ]);

        // Store holding all the events
        var eventStore = new Sch.data.EventStore({
            model : 'Event',
            data  : [   // Some inline dummy data
              {%for intervalo in intervalos%}
                {
                    ResourceId : '{{intervalo.maquina.id}}',
                    Name       : '{{intervalo.tarea}} {{intervalo.pedido}}',
                    {% with fd=intervalo.get_fecha_desde fh=intervalo.get_fecha_hasta %}
                    StartDate: new Date({{fd.year}}, {{fd.month}}-1, {{fd.day}}, {{fd.hour}}, {{fd.minute}}),
                    EndDate: new Date({{fh.year}}, {{fh.month}}-1, {{fh.day}}, {{fh.hour}}, {{fh.minute}}),
                    {% endwith %}
                    Location   : 'Some office'
                },
              {% endfor %}
            ]
        });

        var start = new Date(2014, 9, 1, 6);

        var g = new Sch.panel.SchedulerGrid({
            height             : ExampleDefaults.height,
            width              : ExampleDefaults.width,
            enableDragCreation : false,
            // Setup view configuration
            startDate          : start,
            endDate            : Sch.util.Date.add(start, Sch.util.Date.HOUR, 24*10),
            viewPreset         : 'hourAndDay',
            rowHeight          : 30,

            /// Setup your static columns
            columns            : [
                {header : 'Staff', width : 130, dataIndex : 'Name'}
            ],

            resourceStore      : resourceStore,
            eventStore         : eventStore,
            plugins            : [
                new Sch.plugin.Pan({
                    enableVerticalPan : true
                })
            ]
        });

        return g;
    }
};

  
  </script>
    <title>Pan plugin demo</title>
  </head>
  <body>
    <div id="example-container">
    </div>
  </body>
</html>
